<header class="header">
  <div class="header-wrapper container">
    <a class="header-logo" href="#">
      <img src="img/logos/logo.svg" alt="" />
    </a>

    <nav class="header-nav">
      <ul class="list">
        <li>
          <a href="#">Компания</a>
        </li>
        <li>
          <a href="#">Продукция</a>
        </li>
        <li>
          <a href="#">Пресс-центр</a>
        </li>
        <li>
          <a href="#">Компания</a>
        </li>
        <li>
          <a href="#">Исследования</a>
        </li>
        <li>
          <a href="#">Контакты</a>
        </li>
      </ul>
    </nav>

    <div class="right-block">
      <div class="langs"></div>
      <div class="hamb">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>

<section class="hero">
  <div class="container">
    <div class="hero-content">
      <h1 class="hero-desc">
        Полимерные <br />
        микро-нанокомпозиционные материалы
      </h1>
      <a class="hero-button" href="#">Скачать каталог</a>
    </div>
  </div>
  <div class="slides owl-carousel">
    <div class="slide">
      <img src="img/hero.jpg" alt="" />
    </div>
    <div class="slide">
      <img src="img/hero.jpg" alt="" />
    </div>
    <div class="slide">
      <img src="img/hero.jpg" alt="" />
    </div>
  </div>
</section>

<section class="bigdesc">
  <div class="bigdesc-wrapper container">
    <p>
      Группа компании «MEP Group» включает в себя динамично развивающиеся
      производственные предприятия, которые осуществляют производство
      эксклюзивных микро - и нанокомпозиционных материалов на базе промышленных
      полимеров и инженерных пластиков
    </p>
  </div>
</section>

<section class="categories">
  <div class="categories-wrapper container">
    <div class="categories-left">
      <div class="category">
        <span class="category-image category-image-def">
          <img src="img/categories/def_1.jpg" alt="" />
        </span>
        <span class="category-image category-image-hov">
          <img src="img/categories/hov_1.jpg" alt="" />
        </span>
        <span class="category-title">Полипропиленовые компаунды</span>
      </div>
      <div class="category">
        <span class="category-image category-image-def">
          <img src="img/categories/def_2.jpg" alt="" />
        </span>
        <span class="category-image category-image-hov">
          <img src="img/categories/hov_2.jpg" alt="" />
        </span>
        <span class="category-title">АБС компаунды</span>
      </div>
      <div class="category">
        <span class="category-image category-image-def">
          <img src="img/categories/def_3.jpg" alt="" />
        </span>
        <span class="category-image category-image-hov">
          <img src="img/categories/hov_3.jpg" alt="" />
        </span>
        <span class="category-title">Полиамидные компаунды</span>
      </div>
      <div class="category">
        <span class="category-image category-image-def">
          <img src="img/categories/def_4.jpg" alt="" />
        </span>
        <span class="category-image category-image-hov">
          <img src="img/categories/hov_4.jpg" alt="" />
        </span>
        <span class="category-title">ПЭластомеры</span>
      </div>
    </div>
    <div class="categories-right">
      <div class="category">
        <span class="category-image category-image-def">
          <img src="img/categories/def_5.jpg" alt="" />
        </span>
        <span class="category-image category-image-hov">
          <img src="img/categories/hov_5.jpg" alt="" />
        </span>
        <span class="category-title">Полиэтиленовые компаунды</span>
      </div>
      <div class="category">
        <span class="category-image category-image-def">
          <img src="img/categories/def_6.jpg" alt="" />
        </span>
        <span class="category-image category-image-hov">
          <img src="img/categories/hov_6.jpg" alt="" />
        </span>
        <span class="category-title">Поликарбонатные компаунды</span>
      </div>
      <div class="category">
        <span class="category-image category-image-def">
          <img src="img/categories/def_7.jpg" alt="" />
        </span>
        <span class="category-image category-image-hov">
          <img src="img/categories/hov_7.jpg" alt="" />
        </span>
        <span class="category-title">
          PBT (Полибутилентерефталат) компаунды
        </span>
      </div>
      <div class="category">
        <span class="category-image category-image-def">
          <img src="img/categories/def_8.jpg" alt="" />
        </span>
        <span class="category-image category-image-hov">
          <img src="img/categories/hov_8.jpg" alt="" />
        </span>
        <span class="category-title">Стабилизаторы</span>
      </div>
    </div>
  </div>
</section>

<section class="facts">
  <div class="container">
    <span class="facts-shadow">
      <img src="img/facts_shadow.png" alt="" />
    </span>
    <span class="facts-title">Наши цыфры</span>

    <div class="row">
      <div class="col-lg-3">
        <div class="fact">
          <span class="fact-count">12 000+</span>
          <span class="fact-desc">Тонн производственной мощности в год</span>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="fact">
          <span class="fact-count">50+</span>
          <span class="fact-desc">квалифицированных специалистов</span>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="fact">
          <span class="fact-count">100+</span>
          <span class="fact-desc">Разновидностей продуктов</span>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="fact">
          <span class="fact-count">5+</span>
          <span class="fact-desc">лет на рынке СНГ</span>
        </div>
      </div>
    </div>
  </div>
</section>
