@media (max-width: 992px) {
  .slides .owl-nav {
    width: 720px;
  }
  .fact {
    margin-bottom: 25px;
  }
  .footer-desc,
  .footer-pages {
    text-align: center;
    margin-bottom: 25px;
  }
  .footer-logo {
    text-align: center;
  }
  .footer-desc {
    width: 100%;
  }
  .footer-subscribe-title {
    text-align: center;
  }
  .footer-subscribe-items {
    justify-content: center;
  }
  .webdev {
    display: flex;
    justify-content: center;
  }
  .page-about-desc {
    margin-bottom: 25px;
  }
  .page-about-desc,
  .page-about-list li,
  .mission-desc {
    font-size: 16px;
  }
  .video-desc {
    font-size: 16px;
  }
  .task__image {
    margin: 0 auto;
    margin-bottom: 25px;
  }
  .standart__desc {
    margin-bottom: 25px;
  }
  .standart__image {
    margin-bottom: 25px;
  }
}
