@media (max-width: 1200px) {
  .slides .owl-nav {
    width: 960px;
  }
  .header {
    padding: 15px 0;
  }
  .header-nav {
    display: none;
  }

  .bigdesc {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .categories,
  .facts {
    padding-bottom: 50px;
  }
  .factory,
  .mission {
    margin-bottom: 50px;
  }
  .page-about-content {
    padding: 50px 0;
    padding-left: 15px;
    padding-right: 15px;
  }
  .bigdesc-image {
    display: none;
  }
  .categories-left {
    margin-top: 0;
  }
  .factory-image {
    display: none;
  }
  .factory-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .factory-content {
    position: static;
  }
  .banner {
    margin-top: 75px;
  }
  .page-about-main {
    height: 400px;
    margin-bottom: 50px;
  }
  .mission-image {
    display: none;
  }
  .about {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .about-right-image {
    display: none;
  }
  .video-title {
    margin-top: 50px;
  }
}
