@media (max-width: 500px) {
  .header-logo {
    flex: 0 0 200px;
  }
  .category {
    height: 300px;
  }
  .feedback-title {
    font-size: 30px;
  }
  .banner {
    margin-top: 65px;
  }
  .banner-title {
    font-size: 30px;
  }
  .banner-title::before {
    bottom: 7px;
  }
  .langs {
    width: 55px;
  }
  .lang {
    padding-left: 10px;
  }
  .lang-current {
    padding-left: 10px;
  }
  .lang-dropdown {
    width: 55px;
  }
  .page-about-content .d-flex {
    flex-wrap: wrap;
  }
  .page-about-title,
  .mission-title,
  .video-title,
  .our-numbers-title,
  .tasks__title,
  .standart__title,
  .partners__title {
    font-size: 28px;
  }
  .page-about-main {
    height: 300px;
  }
  .about__image {
    width: 250px;
  }
  .about__inner::before {
    width: 300px;
    height: 300px;
  }
  .video-title {
    margin-top: 50px;
  }
  .about {
    padding-top: 0;
  }
  .partners_wrap {
    top: 80px;
  }
  .singleNews_title {
    font-size: 22px;
  }
}
