@media (max-width: 1500px) {
  .factory-image {
    width: 700px;
  }
}

@media (max-width: 1400px) {
  .slides .owl-nav {
    bottom: 15%;
  }
  .hero-desc {
    max-width: 680px;
    font-size: 40px;
  }
}
