.slides .owl-nav {
  position: absolute;
  width: 1140px;
  padding: 0 15px;
  left: 50%;
  bottom: 21%;
  transform: translateX(-50%);
  z-index: 3;
  display: flex;
}

.slides .owl-prev,
.slides .owl-next {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 4px solid #fff !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.slides .owl-prev {
  margin-right: 15px;
}

.slides .owl-nav [class*='owl-'].disabled {
  border: none !important;
}
