@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy/gilroy-extrabold-webfont.woff2') format('woff2'),
    url('../fonts/Gilroy/gilroy-extrabold-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
