.page-about {
  &-content {
    padding: 100px 0;
  }
  &-title {
    display: block;
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    font-size: 38px;
    text-align: center;
    color: #06274d;
    margin-bottom: 25px;
  }
  &-desc {
    font-size: 18px;
    line-height: 32px;
    color: #555;
  }
  &-list {
    & li {
      font-size: 18px;
      line-height: 32px;
      color: #555;
    }
  }
  &-main {
    width: 100%;
    height: 576px;
    margin-bottom: 200px;
    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.mission {
  position: relative;
  margin-bottom: 100px;
  &-image {
    position: absolute;
    top: -100%;
    right: 0;
    z-index: -1;
  }
  &-title {
    display: block;
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    font-size: 38px;
    color: #06274d;
    margin-bottom: 20px;
  }
  &-desc {
    max-width: 636px;
    font-size: 18px;
    line-height: 32px;
    color: #555;
  }
}

.about {
  position: relative;
  background: #fff;
  padding-top: 100px;
  padding-bottom: 200px;
}

.about__content {
  align-items: center;
}

.about__inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__inner::before {
  content: '';
  width: 530px;
  height: 530px;
  border-radius: 50%;
  position: absolute;
  background: #f9f9f9;
}

.about__image {
  position: relative;
  display: block;
}

.about__image_right {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: -180px;
}

.about-right-image {
  position: absolute;
  bottom: 0;
  right: 0;
}

@keyframes puls {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(237, 50, 55, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 255, 0, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 255, 0, 0);
  }
}

.about__button {
  position: absolute;
  width: 80px;
  height: 80px;
  background: #ff0000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: puls 2s infinite;
}

.video-title {
  font-family: 'Gilroy', sans-serif;
  font-weight: 800;
  font-size: 29px;
  color: #06274d;
  margin-bottom: 20px;
}

.video-desc {
  font-size: 18px;
  line-height: 32px;
  text-align: justify;
  color: #555;
}

.our-numbers {
  margin-bottom: 100px;
  &-title {
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    font-size: 38px;
    color: #06274d;
    display: block;
    margin-bottom: 40px;
  }
  & .fact {
    margin-bottom: 20px;
  }
}

.tasks {
  margin-bottom: 100px;
  &__title {
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    font-size: 38px;
    color: #06274d;
    display: block;
    margin-bottom: 40px;
  }
  &__wrap {
    display: flex;
    justify-content: center;
  }
}

.task {
  margin-bottom: 40px;
  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 256px;
    height: 256px;
    border-radius: 50%;
    background: #f9f9f9;
    margin-bottom: 10px;
  }
  &__title {
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    color: #06274d;
    text-align: center;
    display: block;
  }
}

.standart {
  margin-bottom: 100px;
  &__title {
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    font-size: 38px;
    color: #06274d;
    display: block;
    margin-bottom: 40px;
  }
  &__desc {
    font-size: 18px;
    line-height: 32px;
    text-align: justify;
    color: #555555;
  }
}

.partners {
  margin-bottom: 100px;
  overflow: hidden;
  &__title {
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    font-size: 38px;
    color: #06274d;
    display: block;
    margin-bottom: 40px;
  }
}

.partner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 160px;
  transition: 0.3s;
  background: #fff;
  border: 1px solid #ededed;
  border-radius: 10px;
  margin-bottom: 35px;
  filter: grayscale(100%);
  &:hover {
    box-shadow: 0px 34px 39px rgba(0, 0, 0, 0.05);
    filter: grayscale(0%);
  }
}

.partners .owl-item img {
  width: auto !important;
}

.partners .owl-item {
  width: auto !important;
}

.partners .owl-stage-outer {
  overflow: visible !important;
}
